body {
  background-color: rgb(245, 214, 148);
  margin: 0 150px;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}
.links {
  display: flex;
  justify-content: space-around;
}

div {
}

img {
  text-align: center;
}
